* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #F9F9F9;
}

.grid-ubicacion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr 1fr;
  grid-template-areas: "tituloxd" "ubicacion" "textoUbi";
}
.grid-ubicacion .titulo {
  font-family: "urbano";
  font-style: Stencil Std, fantasy;
  font-size: 30px;
  text-align: center;
  grid-area: tituloxd;
  padding: 15px;
}
.grid-ubicacion .ubicacion {
  grid-area: ubicacion;
  display: flex;
  justify-content: center;
}
.grid-ubicacion .ubicacion .oki {
  border: solid black 2px;
}
.grid-ubicacion .textoUbi {
  font-size: 22px;
  grid-area: textoUbi;
  text-align: center;
  padding: 30px;
  font-family: "urbano";
}

.grid-popus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 45px;
  grid-template-rows: auto;
  justify-items: center;
}
.grid-popus .contPopu {
  display: flex;
  justify-content: space-between;
  width: 300px;
  justify-items: center;
}
.grid-popus .contPopu .img-fluid {
  width: 100%;
  border-radius: 5%;
}
.grid-popus .contPopu .img-fluid:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

.carousel .carousel-item {
  transition: transform 2s ease, opacity 0.5s ease-out;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.container-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-template-rows: auto;
  padding-inline: 2rem;
  justify-content: space-evenly;
  margin: auto;
  grid-gap: 2rem;
  padding-top: 25px;
}
.container-productos .img-container {
  flex: 0 1 320px;
  border: 2px solid black;
}
.container-productos .img-container .img-productos {
  width: 100%;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75, 75, 75, 0.7);
  -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.titulofaq .h2faq {
  font-size: 24px;
  background-color: #F9F9F9;
}

/*# sourceMappingURL=style.css.map */
