@import '../general/listas';
@import '../general/variables';

.contenedorFaq {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

   


    .titulofaq{
        text-align: center;
        padding: 2rem;
        font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
     }

    .h2faq {
        font-size: 24px;
        background-color: beige;
        padding: 0.5rem;
        font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
        
        margin-left: 4rem;
        margin-right: 4rem;
        
    }

    .info{
        font-size: 18px;
        font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
        margin: 3rem;
        margin-left: 4rem;
        margin-right: 4rem;

    }



}
    



