


 
    
.banner-novedades{
  width: 100%;
  padding: 1rem;
}

.grid-novedades{
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
   grid-template-rows: auto;
   padding-inline: 2rem;
   justify-content: space-evenly;
   margin: auto;
   grid-gap: 2rem;
   padding-top: 25px;
  
  

   
  
   .img-novedades{
    width: 100%;
    border: solid black 2px;
   }
   .textonovedades{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
  
  }
 
  .textonovedades:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    color: white;
  }
  
}

