



.container-productos {
    display: grid;
   grid-template-columns: repeat(auto-fill, 320px);
    grid-template-rows: auto;
    padding-inline: 2rem;
    justify-content: space-evenly;
    margin: auto;
    grid-gap: 2rem;
    padding-top: 25px;

    

    .img-container{
        flex: 0 1 320px;
        
        
        border: 2px solid black;
        .img-productos{
            width: 100%;
        }
    }

}