@import '../general/listas';
@import '../general/variables';


.grid-ubicacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas:
        "tituloxd"
        "ubicacion"
        "textoUbi"
    ;

   .titulo {
     
        font-family: 'Open Sans', sans-serif;
        font-family: 'Permanent Marker', cursive;
        font-size: nth($font-size, 3);
        text-align: center;
        grid-area: tituloxd;
        padding: 15px;
    }

    .ubicacion {
        grid-area: ubicacion;
        display: flex;
        justify-content: center;
         .oki{
            border: $border-size-color;
         }

    }

    .textoUbi {
        font-size: nth($font-size, 2);
        grid-area: textoUbi;
        text-align: center;
        padding: 30px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Permanent Marker', cursive;
        
    }

}
